*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Helvetica neue';
  color: #ffff;
}
html,
body{
height: 100%;
width: 100%;
}

body{
  background-color: black;
}

.Card{
  background-color: rgb(197, 71, 92);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
  background-color: blue;
  padding: 20px;
  margin: 5px;
}