*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Helvetica neue';
  color: white;
}
html,
body{
height: 100%;
width: 100%;
background-color: black;
}
h1{
  height: 100px;
  text-align: center;
  margin-top: 20px;
}
button{
  margin: 20px;
  padding: 10px;
  color: black;
}